<!-- <h1 class="fontL" >Login Account</h1>
  <h2 class="fontw">Welcome to ECM</h2> -->

<ion-grid fixed class="grid">
  <ion-row class="row-container ion-justify-content-center">
    <ion-col size-xs="6" size-sm="5" size-md="5" size-lg="4" size-xl="3">
      <ion-row class="row-container">

        <ion-col size-xs="9" size-sm="8">
          <h1 class="fontl">Login Account</h1>
          <h2 class="fontw">Wellcome to ECM</h2>
        </ion-col>

        <ion-col size-xs="3" size-sm="4">
          <ion-icon class="icon" name="person-outline"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="row-containerfill ion-justify-content-center">
    <ion-col size-xs="9" size-sm="10">
      <ion-row>
        <ion-col style="display: flex; align-items: center; justify-content: center;">
          <ion-item class="itemfill">
            <ion-icon class="i-person" name="person"></ion-icon>
            <ion-input style="margin-left: 10px;" [(ngModel)]="username" placeholder="Username"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col style="display: flex; align-items: center; justify-content: center;">
          <ion-item class="itemfillPass">
            <ion-icon class="i-lock" name="lock-closed"></ion-icon>
            <ion-input style="margin-left: 10px;" [(ngModel)]="password" type="password" placeholder="Password" id="password-input">
              <!-- <ion-input-password-toggle slot="end" style="color: #707070;"></ion-input-password-toggle> -->
            </ion-input>

            <!-- <ion-button class="buttonicon" onclick="togglePassword()">
              <ion-icon id="password-toggle-icon" style="color: #707070;"></ion-icon>
            </ion-button>
            <ion-icon name="eye-off-outline" style="color: #707070;" ></ion-icon> -->
            <!-- <ion-icon name="eye-outline" style="color: #707070;"></ion-icon> -->

          </ion-item>
        </ion-col>

        <!-- <script>
          function togglePassword() {
            const passwordInput = document.getElementById('password-input');
            const passwordIcon = document.getElementById('password-toggle-icon');

            if (passwordInput.type === "password") {
              passwordInput.type = text;
              passwordIcon.name = "eye-outline";
            } else {
              passwordInput.type = password;
              passwordIcon.name = "eye-off-outline";
            }
          }
        </script> -->
      </ion-row>
      <ion-row style="margin-top: 10%; display: flex; align-items: center; justify-content: center;">
        <ion-button class="buttonl" (click)="login()">LOG IN</ion-button>
        <!-- <ion-button expand="block" (click)="login()">Log In</ion-button> -->
      </ion-row>
      <ion-row >
        <ion-col size="12" style="display: flex; align-items: center; justify-content: center;">
          <p class="setp">or continue with</p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <svg class="i-google" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1054_3329)">
            <path
              d="M19.9895 10.1873C19.9895 9.36792 19.9214 8.76998 19.7742 8.1499H10.1992V11.8482H15.8195C15.7062 12.7673 15.0943 14.1514 13.7346 15.0815L13.7155 15.2053L16.7429 17.4972L16.9527 17.5176C18.8789 15.7791 19.9895 13.2213 19.9895 10.1873Z"
              fill="#4285F4" />
            <path
              d="M10.1993 19.9312C12.9527 19.9312 15.2643 19.0453 16.9527 17.5173L13.7346 15.0812C12.8734 15.6681 11.7176 16.0777 10.1993 16.0777C7.50242 16.0777 5.21352 14.3393 4.39759 11.9365L4.27799 11.9464L1.13003 14.3271L1.08887 14.439C2.76588 17.6944 6.2106 19.9312 10.1993 19.9312Z"
              fill="#34A853" />
            <path
              d="M4.39748 11.9368C4.18219 11.3167 4.05759 10.6523 4.05759 9.96583C4.05759 9.27927 4.18219 8.61492 4.38615 7.99484L4.38045 7.86278L1.19304 5.44385L1.08876 5.49232C0.397576 6.84324 0.000976562 8.36026 0.000976562 9.96583C0.000976562 11.5714 0.397576 13.0884 1.08876 14.4393L4.39748 11.9368Z"
              fill="#FBBC05" />
            <path
              d="M10.1993 3.85336C12.1142 3.85336 13.406 4.66168 14.1425 5.33718L17.0207 2.59107C15.253 0.985496 12.9527 0 10.1993 0C6.2106 0 2.76588 2.23672 1.08887 5.49214L4.38626 7.99466C5.21352 5.59183 7.50242 3.85336 10.1993 3.85336Z"
              fill="#EB4335" />
          </g>
          <defs>
            <clipPath id="clip0_1054_3329">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </ion-row>
      <ion-row style="display: flex; align-items: center; justify-content: center;">
        <ion-img class="logo" src="../../assets/image/ecmlogo.png"></ion-img>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- <ion-grid>
  
</ion-grid> -->
<ion-row class="curved-shape"></ion-row>