<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button tab="Trip">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Trip</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Jop">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Job</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Contacts">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="More">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
